@media only screen and (max-width : 1199px){
    .nav li { padding: 0 7px;}
    .nav > li > a { padding: 10px 14px; font-size: 14px;}
    .logo img { width: 220px;}
    .navbar-default .navbar-nav li.phone a { color: #fff; font-size: 14px; padding: 12px 15px;}
    .phone-icon img { margin-right: 5px; width: 15px;}
    .navbar-default .navbar-nav li a { font-size: 14px; }
    .navbar-default {  margin: 6px 0; }
    .banner-caption h1 { line-height: 50px; font-size: 40px;}
    #billboard-sliders, #billboard-sliders .item { height: 400px; }
    .mt-section img {  width: 40px; }
    .why-us-wrapper h2 { font-size: 32px; padding: 15px 30px;}
    .mt-section { padding: 10px 30px;}
    .mt-section h3 { font-size: 22px; }
    .ren-section h2 { font-size: 40px; line-height: 50px; margin-bottom: 30px; }
    .ren-section h3 { color: #F15C22; font-size: 34px; text-align: center; margin-bottom: 30px; }
    .call-content h3 {  font-size: 32px; }
    .call-section::before {  width: 700px;  height: 700px; top: -100px; }
    .call-section { text-align: center; margin-top: 160px; }
    #bath-renovation .mt-lg-padding { padding-bottom: 60px; }
    p {line-height: 22px;}
    .gal-title {  font-size: 30px; }
    #srv-banner h2 { font-size: 40px; margin-bottom: 40px;}
    #srv-banner {  padding: 120px 0; }
}

@media only screen and (max-width : 991px){
    .navbar-default .navbar-nav li.phone { display:  none;}
    .banner-caption h1 { line-height: 40px;}
    .banner-caption p { font-size: 18px; line-height: 26px;}
    .mt-section h3 { font-size: 20px;}
    .mt-section a { font-size: 15px; }
    #gallery-section { padding-top: 160px;}
    .contact-intro h3 { font-size: 23px; }
    #contact-section .form-control { height: 44px; border: 1px solid #E0E0E0; }
    .ren-section h2 { font-size: 36px; margin-bottom: 15px;}
    .ren-section h3 { font-size: 32px; }
    #bath-renovation {  background-size: 80%; }
    .inner-banner img {  height: 300px;}
    .page-title h4 { font-size: 34px; }
    .page-title { padding:30px; }
    .mt-section h2 { color: #004088; font-size: 44px; margin-bottom: 0px;}
    .form-control { height: 44px; }
}
@media only screen and (max-width : 768px){
    #billboard-sliders, #billboard-sliders .item { height: 320px; }
    .banner-caption h1 { line-height: 36px; font-size: 28px;}
    .banner-caption p {  font-size: 16px; }
    .mt-header { position:relative; }
    .navbar-toggle { position: absolute;  width:20px; height:20px; top: -40px; right:0; border:none; padding:0; margin:5px; }
    .navbar-default .navbar-nav li.phone { display: block; text-align: center; max-width: 210px;
margin: 20px auto 0; }
    .navbar-default { margin:0;  width: 100%;}
    .logo { max-width: 160px; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background:none; }
    .navbar-nav { margin:20px 0 0; }
    .navbar-collapse { border-top:none; max-height: 400px;}
    .navbar-default .navbar-nav li a { font-size: 16px; border-bottom: 1px solid #eee;}
    .service-content .img-responsive { float: left; }
    .service-content { margin-bottom: 30px;}
    .service-content:hover figure img { transform: scale(1);}
    .service-content figure figcaption { padding: 20px 30px; }    
    .service-content .img-responsive, .service-content figcaption {  min-height: 194px; width: 50%; object-fit: cover;}
    .why-us-wrapper { top:155px; }
    #gallery-section { padding-top: 300px; }
    .gal-title { font-size: 24px; line-height: 35px; margin-bottom: 10px;}
    .gal-intro p::before {right: 93%; background-size: 40%;}
    .call-section { background: #004E9A;}
    .call-section::before { display: none;}
    .call-section { background: #004E9A; padding: 40px; margin: 80px -15px 0;}
    #bath-renovation .mt-lg-padding { padding-bottom: 0; }
    .call-content h3 {  font-size: 26px; margin-bottom: 15px;}
    .ftr-logo {  margin: 0 auto; }
    .footer-widget p {  font-size: 15px; line-height: 24px; margin-bottom: 20px; width: 33.333%; float: left; text-align: center; color: #ddd; margin: 30px 0;}
    .footer-widget { text-align: center; }
    .page-title { max-width: 360px;}
    .inner-banner img { height: 250px;}
    .srv-content h3, .abt-content h3 {  color: #F15C22; font-size: 38px; }
    #srv-banner h2 { font-size: 36px; margin-bottom: 60px;}
    #srv-banner {  padding: 80px 0;}
    #srv-main-content { margin-top: -100px;}
    .srv-content h3, .abt-content h3 { margin-bottom: 10px;}
    .mt-section h2 { font-size: 38px; }
    .why-main-content { padding: 40px 0 0;}
    .arrow { float: right;}
    .sub-menu { display: none; position: inherit; box-shadow: none; padding: 20px 10px; }
    .navbar li:hover .sub-menu{ display: none;}
}
@media only screen and (max-width : 640px){
    .mt-section h2 { font-size: 32px;}
    .mt-section h4 {  font-size: 20px;  color: #0A0A0A;}
   .banner-caption p { display: none; }
   #billboard-sliders .item figure img { width: 100%; }
   .banner-caption {width: 55%; background: rgba(0,58,154,0.8);  padding: 20px;}
   .banner-caption h1 { line-height: 32px; font-size: 26px;}
   .ren-section h2 { font-size: 28px; margin-bottom: 15px; line-height: 36px;}
   .ren-section h3 { font-size: 26px;}
    .srv-content h3, .abt-content h3 {  color: #F15C22; font-size: 32px; }
    .page-title h4 { font-size: 26px;}
    .srv-content, .abt-content { margin: 20px 0 30px;}
    #gallery-section {  padding-top: 360px;}
    .ren-section { padding: 0 15px;}
      .mt-section img { margin-bottom: 20px; }
      .why-us-wrapper { text-align: center; }
      .mt-wrapper .mt-section {  padding: 10px 30px 20px;}
}
@media only screen and (max-width : 480px){

    #gallery-section { padding-top: 600px;}
    .mt-section h2 { font-size: 28px;}
    .inner-banner img {  height: 194px;}
    .logo { width: 190px; margin:0 auto; }
    .banner-caption h1 { font-size: 22px; }
    .service-content .img-responsive { float: none; }
    .service-content .img-responsive, .service-content figcaption { min-height: auto; float: none; width: 100%;}
    .service-content .img-responsive { height: 150px;  }
    .service-content figure figcaption { padding: 20px; }
    #srv-banner h2 { font-size: 30px; }
    .service-content a { font-size: 14px; }
    .mt-section .col-md-3.col-sm-2.col-xs-2, .mt-section .col-md-9.col-sm-10.col-xs-10 { width: 100%;}
    .srv-content h3, .abt-content h3 {  color: #F15C22; font-size: 26px; line-height: 32px;}
    .why-us-wrapper h2 { font-size: 24px;  padding: 15px;}
    .mt-section h3 { font-size: 18px;}
    .abt-content h4 { font-size: 24px; line-height: 36px;}
    #srv-banner {  padding: 60px 0;}
    .main-content .mt-section {  margin-bottom: 10px; padding: 0 10px;}
    .mt-section h4 { font-size: 18px;    }
    .main-content .mt-section { margin-bottom: 20px; }
    footer .col-md-3.col-sm-3.col-xs-4 { width: 100%; }
    .footer-widget p { width: 100%; float: none; margin: 15px 0; text-align: left;}
    .mt-contact { padding:0; }
    .contact-form-section .mt-lg-padding { padding: 50px 15px; }
    footer .visible{ display: none !important; }
     footer .hidden { display: block !important; visibility: visible !important; }*/
    .ftr-logo{ margin-bottom: 30px; }
    .mt-lg-padding{ padding: 40px 0; }
    .footer-widget ul { display: none; }
    .ftr-logo { float: left; margin-bottom: 30px; }
    .footer-widget { text-align: left; }
    .footer-widget { margin-bottom: 20px;}
    .footer-widget h4 { margin-bottom: 10px; font-size: 16px; cursor: pointer; }
    span.dropdown { display: block; }
    #contact-section { margin-top: 20px; }
    .contact-intro h3, .call-content h3 {  font-size: 20px; line-height: 30px;}
    .banner-caption { width: 70%; }
    .banner-caption h1 {  font-size: 22px; line-height: 28px;}  
    #bath-renovation { background-size: 100%; } 
    .ren-section h2 {  font-size: 24px; margin-bottom: 15px; line-height: 32px; text-align: left; }
    .ren-section h3 {font-size: 20px; margin-bottom: 20px; text-align: left;}



}
@media only screen and (max-width : 360px){
    #service-lists {    padding: 40px 25px 0;}
     .srv-content h3, .abt-content h3 {  color: #F15C22; font-size: 24px; }
     .abt-content h4 { font-size: 20px; line-height: 30px;}
    #srv-banner h2 { font-size: 24px;}
    .page-title { max-width: 290px;}
    .footer-widget { text-align: left; }
    #gallery-section { padding-top: 670px;}
    #bath-renovation {
    background-size: 200%;
}

}

@media only screen and (max-width : 320px){

}