
body{ font-family:"canada-type-gibson";}
*{margin: 0;padding: 0;}
ul, ol{	margin: 0;	padding: 0;}
.mt-lg-padding{ padding: 80px 15px;}
.mt-med-padding{ padding: 60px 15px;}
.mt-sm-padding{ padding: 40px 15px;}
li{	list-style: none;}
a:hover, img{	outline:none;	text-decoration: none;}
a, a:hover, a:focus{ outline:none;
	cursor:pointer;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
    text-decoration:none;}
img{max-width: 100%;height: auto;display: block;}
h1,h2,h3,h4,h5{	margin-top:0; font-family:"canada-type-gibson"; line-height: 26px;}
p{font-family:"canada-type-gibson"; font-size:15px;line-height: 24px; font-weight: 300;}

/***navigation****/
.logo img { width: 220px;}
header {  padding: 20px 0;}
.navbar-default { background: 0;  border-color:transparent !important; margin: 5px 0;	float: right;  min-height: auto;}
#bs-example-navbar-collapse-1, .navbar .container-fluid{ padding: 0; }
.nav > li{ padding:0 10px; border-left: 1px solid #eee; }
.navbar-default .navbar-nav  li a { font-size: 16px; color:#333;}
.navbar-default .navbar-nav  li a:hover { color:#F15C22; }
.navbar-default .navbar-nav  li.phone { border:none; }
.navbar-default .navbar-nav  li.phone a{  color:#fff; font-size: 15px; padding: 15px;}
.phone a { background: #F15C22;border-radius: 30px; color:#fff; display: inline-block;  padding: 15px 20px; letter-spacing: 0.5px;}
.phone a:hover { background:  #1A3F85;}
.navbar-default .navbar-nav  li.phone a:hover, .navbar-default .navbar-nav  li.phone a:focus { background: #1A3F85; color:#fff; }
.sub-menu { background: #fff; width: 230px; position: absolute; z-index: 9; padding: 10px; display: none; box-shadow:0 20px 20px rgba(0,0,0,0.1)}
.sub-menu a { display: block; padding: 5px 0; color:#333; border: none !important;}
.navbar li:hover .sub-menu{ display: block;}
.arrow { -moz-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; }
.on .arrow{ transform: rotate(180deg); }
.arrow{ position: relative; }
.arrow:before { width:10px; height: 10px; content: '\f107'; font-family: 'FontAwesome'; top: 5px;  }
/**nav bar toggle animation **/
.navbar-toggle span { -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
.navbar-toggle.active .mt-2 { opacity: 0; }
.navbar-toggle.active .mt-1 { transform: rotate(45deg); position: relative; margin-top: 8px; }
.navbar-toggle.active .mt-3 { transform: rotate(-45deg);  position: relative; margin-top: -8px;}

/** sticky header css **/
.mt-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
}
.sticky .logo {
    width: 110px;
}
.sticky  .navbar-default { margin:0; }

/****banner-starts-here**********/
#billboard-container {background: #1A3F85; }
#billboard-sliders { height: 490px; overflow:hidden; }
#billboard-sliders .item { margin: 0; position: relative; }
#billboard-sliders .item figure{ position: relative; height: 490px; overflow: hidden; }
#billboard-sliders .item figure img { position: absolute; width: 48%; top:0; right: 0; height: 100%; object-fit: cover; }
#billboard-sliders .item figure figcaption { position: absolute; width: 52%;  top:50%; -webkit-transform: translateY(-50%);  -moz-transform: translateY(-50%); transform: translateY(-50%); text-align: left;}
.banner-caption {position: absolute; top: 50%; width: 40%; text-align: left; -webkit-transform: translateY(-50%);transform: translateY(-50%); color:#fff;}
.banner-caption h1 {line-height: 56px; font-size:44px; font-weight: 600; margin-bottom: 20px;}
.banner-caption p { font-size: 22px; line-height: 35px;}
.owl-page.active { width: 30px; height: 5px; background: #F15C22; z-index: 999;}
.owl-page{  width: 30px; height: 5px; background: rgba(255,255,255,0.5); z-index: 999; margin:0 5px; display: inline-block;}


.owl-pagination {

    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

}
/*** service section starts here ***/
#service-section {  }
.srv-title{ color:#F15C22; font-size: 19px;}
.service-content figure figcaption { background: #F8F7F7; padding: 20px;  overflow: hidden;}
.service-content figure figcaption p { font-size: 15px; line-height: 22px; }
.service-content figure { overflow: hidden; }
.service-content a { color: #A7A7A7; font-size: 15px; margin: 10px 0; display: inline-block;}
.service-content a:hover{ color:#363636;  }
.service-content:hover figure img { transform: scale(1.1); }
.service-content figure img { transition: all 0.4s ease-in-out 0s ; }

/** why-us section starts here **/
#why-us{ background: url(../images/whyus_mainpage.jpg) no-repeat fixed top center / cover; height: 450px;}
.mt-wrapper { padding: 30px 0;  background: #fff; }
.why-us-wrapper { position: relative; top: 80px; z-index: 99; box-shadow: 0 20px 20px  rgba(0,0,0,0.1);}
.why-us-wrapper h2 { background: #F15C22; color: #fff; padding:20px 40px; margin:0; font-size: 36px; line-height: 56px;}
.mt-section { padding: 10px 40px;}
.mt-section img { margin: 0 auto;}
.mt-section h3 { font-size: 24px; color: #1A3F85; }
.mt-section a { text-align: right; display: block;  color:#A7A7A7 ; font-size: 17px;}
.mt-section a:hover { color: #363636; }

/*** gallery section starts here ***/
#gallery-section { text-align: center; clear:both; padding-top: 200px;}
#gallery-section  .gallery-dynamo .thumbnail { padding:0 !important; margin:0; }
.gal-intro p { position: relative; display: inline-block; font-size: 18px; color: #A7A7A7; margin-bottom: 20px; }
.gal-intro p:before{ position: absolute;  width:147px; height: 31px; content: ''; background: url(../images/arrow.png) no-repeat center center; right: 110%; top:0 ;}
.gal-title { font-size: 40px; color: #004E9A; margin-bottom: 30px;}

/** contact section **/
#contact-section { background: #F2F0F0; margin-top: 60px; }
#contact-section .form-control { height: 54px; border: 2px solid #E0E0E0;}
#contact-section textarea.form-control{  min-height: 129px;}
.contact-intro h3{ font-size: 30px; font-weight: 600; }
.contact-intro p { font-size: 17px; color: #3A3838; }
.form-control { border: 1px solid #dcdcdc; border-radius: 0; box-shadow: none;height: 58px;padding: 5px 15px;width: 100%; resize: none; }
.contact-form{ max-width: 417px; margin: 20px auto;}
.contact-form #submit { background: #004088; width: 100%; border:none; height: 54px; color: #fff; font-size: 16px;}
.contact-form #submit:hover { background: #F15C22;  }

/** bath renobation **/
.call-section { text-align: center; margin-top: 250px; position: relative;}
.call-section:before { width: 900px; height: 900px; position: absolute; background: #004E9A; border-radius: 50%; content: '';left: 50%; top:-120px; transform: translateX(-50%);}
.call-content { position: relative;}
.call-content h3{ font-size: 40px; color:#fff; margin-bottom: 30px; }
.ren-section h2{ color: #004088; font-size: 50px; text-align: center; margin-bottom: 40px; }
.ren-section h3{ color: #F15C22; font-size: 38px; text-align: center; margin-bottom: 50px; } 
.ren-section p{ margin-bottom: 25px; }

/******footer*****/
footer { background: #242E39 none repeat scroll 0 0;  color: #fff; padding: 60px 0px 20px; position: relative;}
.footer-widget p { font-size: 17px; line-height: 30px; margin-bottom: 20px;}
.ftr-logo { max-width: 200px; margin-bottom: 30px; }
.footer-widget { margin-bottom: 30px; }
.footer-widget h4{ color: #F15C22; text-transform: uppercase; margin-bottom: 20px; }
.footer-widget a { color: #fff; display: inline-block;margin-bottom: 10px; }
.footer-widget a:hover { color: #F15C22; }
.phone-icon img { display: inline-block; margin-right: 10px;}
span.dropdown { float: right; display: none;}
.on span.dropdown { transform: rotate(180deg); }

/** service page css **/
#inner-banner { background: #F15C22; }
#ren-section {  padding-top: 60px; }
#gallery-section\ srv-gal { padding-top: 60px; position: relative; text-align: center;}
.gallery-dynamo .thumbnail { padding:0 !important; }

/** service detail page css **/
#srv-banner { background: #004088; padding: 150px 0; max-height: 490px;}
#srv-main-content { margin-top: -150px; }
#srv-banner h2 { font-size: 50px; color:#fff; margin-bottom: 60px; font-weight: 600; }
.srv-content, .abt-content { margin:40px 0; }
.srv-content h3, .abt-content h3 { color: #F15C22; font-size: 44px; margin-bottom: 30px;}

/** why us section css **/
.mt-section h2 { color: #004088; font-size: 48px;}
.main-content .mt-section { margin-bottom: 10px;}
.mt-section h4 { font-size: 24px; color: #0A0A0A;}

/*****about-us************/
.inner-banner { position: relative; }
.inner-banner img { height: 400px; object-fit: cover; }
.page-title { position: absolute; bottom: 0; background: #004E9A; width: 100%; padding: 40px;}
.page-title h4 { font-size: 40px; color: #fff; margin:0; font-weight: 600;}
.why-main-content { padding: 60px 0 0; }
.abt-content h4 {  font-size: 30px; font-weight: 600; margin-bottom: 20px;}
.abt-lists li{ position: relative; padding-left: 25px; font-size: 18px; line-height: 32px;}
.abt-lists li:before { position: absolute; left: 0; top: 3px; content: '\f00c'; font-family: 'FontAwesome'; font-size: 14px; }

/** contact us page **/
.mt-contact { padding: 0 40px; }

/**blog page css **/
.blog-page { background: #004E9A; padding-top: 80px; }
.blog-details h1 { color: #004088; font-size: 62px; margin-bottom: 50px;}
.blog-page .page-title { position: inherit; background: #0A74DB;}
.blog-box { margin-bottom: 200px; overflow: hidden;}
.blog-box li { padding: 2px;  width: 33.333%; float: left;}
.blog-box li a { display: inline-block; font-size: 28px; color: #535353; padding: 60px 40px;    min-height: 346px;     background: #eee;}
.blog-box li a:hover { color: #F15C22;}
.blog-details .mt-section {  padding: 10px 0;}
.other-blog { margin: 60px 0;}
.other-blog h3 { font-size: 28px; background: #3B3A32; color: #fff; padding: 20px 40px;}
.blog-details .mt-section h3 { color: #F15C22; font-size: 50px; margin: 40px 0; }

/*body{
    background-color: #525252;
}*/
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.row.centered-form {
    margin-left: 230px;
    width: 100%;
}


.admin-form{
    height: 300px;
    width: 650px;
    border: 17px solid #6C6969;
    margin: auto;
    margin-top: 120px;
    padding: 10px;
}

.course-form{
    padding: 20px, 20px;
    margin: 20px, 20px;
}